@import "../../vars.scss";

.todoModal__wrapper {
  //display: none;
  &.active {
    display: block;
  }
}

.todoModal__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: $modalUnderlay;
}

.todoModal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1050;
  width: 380px;
  height: 100vh;
  background: $todoBackground;
}

.todoModal__header {
  padding: 1.75rem;
  border-bottom: 1px solid $splitter;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoModal__header-close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  color: $textMain;
  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.todoModal__block {
  padding: 1.75rem;

  .dropdown-menu {
    width: calc(100% + 1rem);
    position: unset;
    margin-left: -.5rem;
  }
}

.todoModal__block-title {
  margin-bottom: 1rem;
  color: $primary;
  font-weight: 600;
}