@import "vars.scss";


.settings {
  position: fixed;
  top: -50px;
  left: -40px;
  height: 100px;
  width: 100px;
  background-color: $primary;
  border: none;
  border-radius: 50%;
  color: $textWhite;
  transition: all .2s;
  &:hover {
    background-color: $secondary;
  }
  svg {
    position: absolute;
    right: 22px;
    bottom: 17px;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  background: $bodyBackground;
  padding-top: 60px;
  color: $textMain;

  .btn {
    border-radius: 50px;
    padding: .6rem 2.5rem;
    box-shadow: none;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: .05rem;
    text-transform: uppercase;
  }

  .btn-sm {
    border-radius: 50px;
    padding: .25rem .75rem;
    font-size: .76rem;
    line-height: 1.3;
    font-weight: 400;
  }

  .btn-primary {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $textWhite;
    box-shadow: none !important;

    &:is(:hover, :active, :focus, :focus-within, .active, .show) {
      background-color: $secondary !important;
      border-color: $secondary !important;
      box-shadow: none !important;
    }
  }

  .btn-outline-primary {
    border-color: $textMuted !important;
    color: $textMuted !important;
    box-shadow: none !important;

    &:is(:hover, :active, :focus, :focus-within, .active, .show) {
      background-color: $primary !important;
      border-color: $primary !important;
      color: $textWhite !important;
      box-shadow: none !important;
    }
  }

  .dropdown-toggle-split {
    padding-right: .75rem;
    padding-left: .75rem;
  }

  .dropdown-menu {
    border-radius: .75rem;
    font-size: .8rem;
    background: $todoBackground;
    border-color: $splitter;

    .dropdown-item {
      padding: .5rem 1.25rem;
      color: $textMain;
      cursor: pointer;

      &:hover {
        background-color: $bodyBackground;
        color: $textMain;
      }

      &:is(:active, .active) {
        color: $textWhite;
        text-decoration: none;
        background-color: $primary;
        cursor: default;
      }

      &:is(:focus, :focus-within) {
        background: transparent;
        color: $textMain;
      }
    }
  }

  .badge {
    text-transform: uppercase;
    border-radius: 50px;
    padding: 0.4rem 0.8rem;
    font-size: 0.6rem;
    background-color: $primary;
    color: $textWhite;
  }

  .text-muted {
    font-size: .75rem;
    color: $textMuted !important;
  }
}

.main {
  padding-top: 1.25rem;
}



